bitbake.lock
environment-*
build
deploy/
sources/*
!sources/layers.txt
cache/
certs/
conf/auto.conf
conf/bblayers.conf
conf/sanity_info
conf/site.conf
conf/distro/generated.conf
pseudodone
git_config
subversion_config/
package-depends.dot
pn-depends.dot
task-depends.dot
tags
